@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c;
  --foreground: #e0e0e0;
  --container-background: #333333;
  --text-color: #ffffff;
  --input-background: #444444;
  --table-header-bg: #444444;
  --icon-color: #cccccc;
  --table-row-border: #555555;
  --button-bg: #007bff;
  --button-hover-bg: #0056b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --container-background: #333333;
    --text-color: #ffffff;
    --input-background: #444444;
    --table-header-bg: #444444;
    --icon-color: #cccccc;
    --table-row-border: #555555;
    --button-bg: #007bff;
    --button-hover-bg: #0056b3;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Container style for general usage */
.container-bg, .container {
  background-color: var(--container-background);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Table header style */
.table-header {
  background-color: var(--table-header-bg);
  color: var(--text-color);
}

/* Table row and cell styling */
.table-cell {
  color: #cccccc;
}

.table-row {
  background-color: #383838;
  border-bottom: 1px solid #3d3d3d;
}

/* Form input styling */
.form-input {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--input-background);
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  outline: none;
}

/* Button primary styling */
.button-primary {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--button-bg);
  color: var(--text-color);
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}

.button-primary:hover {
  background-color: var(--button-hover-bg);
}

/* Icon button styling */
.button-icon {
  color: var(--icon-color);
  transition: color 0.2s;
}

.button-icon:hover {
  color: #999999;
}

/* Link styling */
.link {
  color: var(--button-bg);
  text-decoration: underline;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--input-background); /* Cor de fundo consistente */
  color: #e0e0e0;
  border: 1px solid #444444;
  border-radius: 4px;
  transition: border-color 0.2s;
}

.input-field::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.input-field:focus {
  outline: none;
  border-color: #666666;
}

.input-file-group {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--input-background); /* Mesma cor de fundo dos demais inputs */
  border: 1px solid #444444;
  border-radius: 4px;
}

.input-file-button {
  width: 80px; /* Define largura do botão */
  height: 100%; /* Ajusta a altura para preencher o espaço vertical */
  background-color: white; /* Fundo branco */
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding adicional */
  margin-left: 15px;
  transition: background-color 0.3s;
}

.input-file-button:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

.input-file-text {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: var(--input-background); /* Mesma cor dos demais inputs */
  color: var(--text-color);
  border: none;
  text-align: left;
  font-size: 0.875rem;
  outline: none; /* Remove o contorno */
  pointer-events: none; /* Desativa a interação */
}
.text-secondary {
  color: #8a8a8a; /* Cor cinza clara e sutil */
  font-size: 0.875rem; /* Tamanho da fonte menor */ /* Reduz ligeiramente a opacidade para um efeito mais suave */
}
.button-home {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--button-bg);
  color: var(--text-color);
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}
.button-home:hover {
  background-color: var(--button-hover-bg);
}
.loader {
  border: 4px solid transparent; /* Removendo o fundo */
  border-top: 4px solid #3498db; /* Cor do loader */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}